language: rust

services:
  - docker

rust:
  - stable
  - beta
  - nightly

os:
  - linux
  - osx

script:
  - cargo build --verbose --all --all-features
  - cargo test --verbose --all --all-features
  - make docker-alpine

cache: cargo

matrix:
  allow_failures:
    - rust: nightly
