[package]
name = "unftp"
version = "0.0.4"
authors = ["Koen Wilde <koen@chillheid.nl>", "Hannes de Jager <hdejager@bol.com>"]
edition = "2018"

[dependencies]
firetrap = "0.1"
log = "0.4"
env_logger = "0.6"
redis = "0.9.0"
serde_json = "1.0.39"
chrono = "0.4.6"
r2d2 = "0.8.3"
r2d2_redis = "0.8.0"